* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

li,
ul {
  list-style: none;
}

.diflex {
  display: flex;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
